.container {
    /* Add container styles as needed */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: white;
}

.body-1 {
    /* Add styles for the card body wrapper */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* To position elements from left to right */
    padding: 20px;
    /* Optional: Add padding to the body wrapper */
    position: relative;
    width: 720px;
    height: 440px;
    margin: 20px auto;
    border: 1px solid #dddd;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-header {
    /* Add styles for the card header */
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 10px;
    /* Optional: Add spacing between header and body */
}

.card-body {
    /* Add styles for the card body */
    margin-top: 30px;
    font-size: 18px;
    color: #555;
    /* Optional: Customize text color */
}

.card-select {
    margin-top: 30px;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.select-wrapper {
    flex: 1;
    margin-right: 10px; /* Add some space between select menus if needed */
}
