.table {
    max-width: 800px;
    position: relative;
    width: 100%;
}

.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Set the height to occupy the full viewport */
}

.song-row {
    height: 80px;
    position: relative;
    display: flex;
    align-items: center;
  }

  .listen-now {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    margin-left: auto;
  }
  
  /* Custom CSS to style the faded artist names */
  .faded-text {
    color: #999;
    font-size: 14px;
  }

  .song-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    margin: 0 auto;
    flex: 1;
  }

h2{
  color: white;
}

