.table {
    width: 800px;
    position: relative;
}

.table-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to occupy the full viewport */
}
.container-summary{
  margin-top: 30px; /* Adjust this value as needed to move the table down */
  position: relative;
}
.song-row {
    height: 80px;
    position: relative;
  }
  .listen-now {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
  /* Custom CSS to style the faded artist names */
  .faded-text {
    color: #999;
    font-size: 14px;
  }

  .song-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
    margin: 0 auto;
  }



