
.summary-container{
    background-color: white;
    color:black;
    width: 500px;
    justify-content: center;
}

.text-muted.artist{
    font-size: 14px;
}

.btn.btn-success.track{
    width: 200px;
}